@use "../../variables" as *;

.headerContainer {
   height: 100%;
   display: flex;
   justify-content: flex-start;
   align-items: center;
   border-bottom: 1px solid $SupportColor;
}
.logoContainer {
   width: $LeftPanelWidth;
   padding: 0px 15px;
   display: flex;
   gap: 15px;
   justify-content: flex-start;
   cursor: pointer;
   h1 {
      transition: color 150ms linear;
      color: $FontThemeColor;
      font-size: 30px;
   }
   img {
      transition: transform 150ms linear;
   }
   &:hover {
      h1 {
         color: $HoverFontThemeColor;
      }
      > img {
         transform: scale(1.1);
      }
   }
}
.menuContainer {
   height: 100%;
   flex-grow: 1;
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 30px;
   nav {
      height: 100%;
      display: flex;
      align-items: center;
   }
   > button {
      background: transparent;
      border: none;
      margin-right: 15px;
      cursor: pointer;
   }
}
.taskButton {
   margin-left: 30px;
   padding: 8px 12px;
   font-size: 16px;
   color: #ffffff;
   font-family: Lato;
   font-weight: 500;
   border: none;
   border-radius: 8px;
   background-color: $FontThemeColor;
   transition: all 150ms linear;
   cursor: pointer;
   &:hover {
      background-color: $HoverFontThemeColor;
      transform: scale(1.02);
   }
}
.settingIcon {
   transition: transform 200ms linear;
   &:hover {
      transform: rotate(90deg);
   }
}
.navItem {
   height: 100%;
   padding: 0 10px;
   position: relative;
   display: flex;
   align-items: center;
   cursor: pointer;
   h1 {
      font-size: 20px;
      transition: transform 200ms linear;
   }
   h1:hover {
      transform: scale(1.02);
   }
}
.navBottomBar {
   position: absolute;
   height: 6px;
   width: 100%;
   bottom: 0;
   left: 0;
   background-color: $FontThemeColor;
}
