@use "../../variables" as *;

.styledButton {
   padding: 8px 12px;
   font-size: 16px;
   color: #ffffff;
   font-family: Lato;
   font-weight: 500;
   border: none;
   border-radius: 8px;
   background-color: $FontThemeColor;
   transition: all 150ms linear;
   cursor: pointer;
   &:hover {
      background-color: $HoverFontThemeColor;
      transform: scale(1.02);
   }
}
