@use "../../variables" as *;

.container {
   height: 100%;
   width: 100%;
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
}

.sideDrawer {
   height: 100%;
   width: $LeftPanelWidth;
}
.mainContent {
   flex-grow: 1;
   height: 100%;
}
